@font-face {
  font-family: 'Navigo';
  src: url('../fonts/Navigo-Regular-Desktop.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

.dark-bg {
  background-color: #123478;
  color: #fff;
}

.dark-bg .navbar-toggler {
  border: 1px solid #fff;
  color: #fff;
}

.font-color-blue {
  color: #102D69;
}

.btn-blue {
  font-size: 1.15rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #102D69;
  border-color: #102D69;
}

.promo-text {
  font-size: 24px;
  opacity: .75;
  font-family: 'Roboto', sans-serif;
}

.link-border-bottom {
  display: inline-block;
  padding:0;
  text-decoration: none;
  line-height: 1.3;
  border-bottom: 1px solid #6c757d;
  transition: .4s ease;
}

.text-white.link-border-bottom {
  border-bottom: 1px solid #fff;
}

.link-border-bottom:hover {
  border-color: transparent;
}

.link {
  color: rgba(255,255,255,.8);
  text-decoration: none;
  transition: .4s ease;
  border-bottom: 1px solid rgba(255,255,255,.8);
}

.link:hover {
  color: rgba(255,255,255,.8);
  text-decoration: none;
  border-color: transparent;
}

.link.link-blue {
  color: #102D69;
  border-color: #102D69;
}

.link.link-blue:hover {
  color: #102D69;
  border-color: transparent;
}

.link.link-purple {
  color: #DFC7F2;
  border-color: #DFC7F2;
}

.link.link-purple:hover {
  color: #DFC7F2;
  border-color: transparent;
}

.link.link-yellow {
  color: #DCFF05;
  border-color: #DCFF05;
}

.link.link-yellow:hover {
  color: #DCFF05;
  border-color: transparent;
}

.text-yellow {
  color: #DCFF05 !important;
}

.logo:hover {
  text-decoration: none;
  transition: .4s ease;
  opacity: .85;
}

.logo-title {
  font-size: 20px;
  line-height: 1.5;
}

.logo-subtitle {
  font-size: 17px;
  line-height: 1;
}

.story p {
  font-size: 24px;
  line-height: 35px;
}

.story-link {
  color: #102D69;
  text-decoration: none;
  transition: .4s ease;
  border-bottom: 2px solid #102D69;
}

.story-link:hover {
  color: #102D69;
  text-decoration: none;
  border-color: transparent;
}


.greeting-text {
  color: #DFC7F2;
  font-family: 'Navigo', sans-serif;
  font-weight: normal;
}

.navbar .nav-link.link-purple {
  color: #DFC7F2 !important;
}

.navbar .nav-link.link-purple:hover {
  color: #DFC7F2 !important;
}

.logo-right {
  margin-left: 6px;
}

.text-blue {
  color: #DFC7F2 !important;
}

h1.greeting-text {
  color: #DFC7F2;
}

.btn-yellow {
  background-color: #DCFF05;
  color: #102D69;
}

.btn-yellow:hover {
  background-color: #c4e004;  /* Немного темнее при наведении */
  color: #102D69;
}

.navigo-font {
  font-family: 'Navigo', sans-serif;
  font-weight: normal;
}

.text-purple {
  color: #DFC7F2 !important;
}

.text-white-40 {
  color: #fff !important;
  opacity: 0.4;
}

.position {
  margin-left: 20px;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.text-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.text-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.language-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 16px;
}

.language-toggle a {
    color: #DFC7F2;             /* Светло-синий цвет для текста */
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
}

.language-toggle a.active {
    color: #DCFF05;             /* Жёлтый цвет для выделенного языка */
    font-weight: bold;
}

.language-toggle a:hover {
    text-decoration: underline;
}

/* Контейнер для переключателя */
.theme-toggle-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Уменьшаем расстояние между элементами */
}

/* Стилизация переключателя */
.slider {
    position: relative;
    display: inline-block;
    width: 40px; /* Уменьшаем ширину */
    height: 20px; /* Уменьшаем высоту */
}

/* Скрываем стандартный чекбокс */
.slider input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Фон переключателя */
.slider .slider-background {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Цвет фона по умолчанию */
    transition: background-color 0.3s ease;
    border-radius: 20px; /* Закругляем углы */
}

/* Круглый бегунок */
.slider .slider-background:before {
    position: absolute;
    content: "";
    height: 16px; /* Уменьшаем размер бегунка */
    width: 16px; /* Уменьшаем размер бегунка */
    left: 2px; /* Сдвигаем ближе к краю */
    bottom: 2px; /* Сдвигаем ближе к краю */
    background-color: white;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

/* Анимация при переключении */
.slider input:checked + .slider-background {
    background-color: #FFD700; /* Желтый цвет фона */
}

.slider input:checked + .slider-background:before {
    transform: translateX(20px); /* Сдвигаем бегунок вправо */
}

/* Метки */
.slider-label {
    font-size: 12px; /* Уменьшаем размер текста */
    color: #333;
}