.slider-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 40px; /* Уменьшили ширину */
    height: 21px; /* Уменьшили высоту */
    border-radius: 20px; /* Закругление пропорционально высоте */
    background: #ccc;
    outline: none;
    transition: background 0.3s;
    cursor: pointer;
    position: relative;
}

.slider::before {
    content: "";
    position: absolute;
    width: 16px; /* Уменьшили размер бегунка */
    height: 16px; /* Уменьшили размер бегунка */
    border-radius: 50%;
    background-color: #000;
    top: 50%;
    left: 2px; /* Сдвинули ближе к краю */
    transform: translateY(-50%);
    transition: left 0.3s;
}

.slider:checked {
    background: #FFD700; /* Желтый цвет фона */
}

.slider:checked::before {
    left: 22px; /* Сдвинули бегунок вправо */
}

.slider-label {
    font-size: 14px; /* Уменьшили размер текста */
    color: #ffffff;
}

.theme-toggle-container {
    display: flex;
    align-items: center;
    gap: 5px;
}